.css-select-category-alert, .css-entry-comment-well {
    margin-bottom: 0;
    margin-top: 10px;
}

.css-col-rank {
    width: 10%;
}

.css-col-player {
    width: 40%;
}

.css-col-time {
    width: 30%;
}

.css-col-details {
    width: 20%;
}

.css-pre {
    white-space: pre-wrap;
}

details.well[open] > summary {
    margin: 0 0 4px;
}

details.well[open] > summary ~ p {
    margin: 0;
}
