<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../resources/app.css" th:href="@{/resources/app.css}"/>
    <script src="/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <title>Speedrun Portal</title>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Speedrun Portal</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-form navbar-right">
                <th:block sec:authorize="isAuthenticated()">
                    <form th:action="@{/j_logout}" method="post" class="form-inline">
                        <div class="form-group">
                            <span class="form-control-static"
                                  th:inline="text">Hello, [[${#authentication.name}]]!</span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-link">Logout</button>
                        </div>
                    </form>
                </th:block>
                <th:block sec:authorize="isAnonymous()">
                    <div class="form-group">
                        <a href="/login" class="btn btn-link">Login</a>
                    </div>
                    <div class="form-group">
                        <a href="/register" class="btn btn-link">Register</a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</nav>

<div class="container" layout:fragment="content"></div>

</body>
</html>
