<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_template">
<head>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script src="../resources/game.js" th:src="@{/resources/game.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-7">
            <h2 th:text="${game.title}">Game title</h2>
        </div>
        <div class="col-sm-5">
            <div class="btn-group pull-right" sec:authorize="isAuthenticated()">
                <a class="btn btn-warning" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{|/game/${game.id}/edit|}">Edit Game</a>
                <a class="btn btn-primary" th:href="@{|/game/${game.id}/newCategory|}">New Category</a>
                <a class="btn btn-warning" th:if="${category != null}" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{|/category/${category.id}/edit|}">Edit Category</a>
                <a class="btn btn-success" th:if="${category != null}"
                   th:href="@{|/category/${category.id}/editEntry|}">Edit Entry</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="https://placehold.it/360x550" class="img-responsive center-block"
                 th:src="@{|/game/${game.id}/image|}"/>
        </div>
        <div class="col-md-8" th:switch="${#lists.isEmpty(categories)}">
            <div class="alert alert-warning" th:case="true">There are no categories.</div>
            <th:block th:case="false">
                <ul class="nav nav-tabs">
                    <li th:each="c : ${categories}" th:class="${category != null and category.id == c.id}?active">
                        <a th:href="@{|/game/${game.id}/category/${c.id}|}" th:text="${c.name}">any%</a>
                    </li>
                </ul>
                <th:block th:if="${category == null}">
                    <div class="alert alert-info css-select-category-alert">Please select a category!</div>
                </th:block>
                <th:block th:if="${category != null}">
                    <table class="table table-condensed" th:classappend="${!#lists.isEmpty(entries)}?'table-hover'">
                        <colgroup>
                            <col class="css-col-rank"/>
                            <col class="css-col-player"/>
                            <col class="css-col-time"/>
                            <col class="css-col-details"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="entry,status : ${entries}">
                            <td th:text="${status.index + 1}">1</td>
                            <td th:text="${entry.username}">sendow</td>
                            <td th:text="${@runTimeConverter.convert(entry.runTime)}"></td>
                            <td>
                                <a th:href="@{|/entry/${entry.id}|}"
                                   data-ajax-target="#entryDialog">Details</a>
                                &#x2002;
                                <span class="glyphicon glyphicon-film"
                                      th:unless="${#strings.isEmpty(entry.videoUrl)}"></span>
                                <span class="glyphicon glyphicon-comment"
                                      th:unless="${#strings.isEmpty(entry.comment)}"></span>
                            </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(entries)}">
                            <td class="text-center bg-warning" colspan="4">There are no entries.</td>
                        </tr>
                        </tbody>
                    </table>
                    <details class="well well-sm" open="open" th:unless="${#strings.isEmpty(category.rules)}">
                        <summary><strong>Rules</strong></summary>
                        <p class="css-pre" th:text="${category.rules}">Rules go here...</p>
                    </details>
                </th:block>
            </th:block>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" id="entryDialog" th:remove="body">
            <!--/* contents moved to [entry/view :: entryDialog] */-->
        </div>
    </div>
</div>

</body>
</html>