<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_template">
<head>
    <script src="../resources/index.js" th:src="@{/resources/index.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-7">
            <h2>Game list</h2>
        </div>
        <div class="col-sm-5">
            <div class="btn-group pull-right" sec:authorize="isAuthenticated()">
                <a th:href="@{/game/new}" class="btn btn-primary">New Game</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="gameList">
        <div class="list-group" th:fragment="gameList">
            <a class="list-group-item" th:each="game : ${games}"
               th:href="@{|/game/${game.id}|}" th:text="${game.title}"></a>
        </div>
    </div>
    <nav class="text-center" th:if="${games.totalPages gt 1}">
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(0, games.totalPages - 1)}" th:class="${i == games.number}?active">
                <a th:href="@{|?page=${i}|}" th:text="${i + 1}" data-ajax-target="#gameList">1</a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>