<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_template">
<body>

<div layout:fragment="content">
    <h2>Register</h2>
    <form th:action="@{''}" th:method="post" th:object="${user}">
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('username')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="u">Username</label>
            <input id="u" type="text" class="form-control" placeholder="Username" autofocus=""
                   th:field="*{username}"/>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('username')[0]}">Error message</div>
        </div>
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('password')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="p">Password</label>
            <input id="p" type="password" class="form-control" placeholder="Password"
                   th:field="*{password}"/>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('password')[0]}">Error message</div>
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>

</body>
</html>