<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_template">
<body>

<div layout:fragment="content">
    <h2>
        Edit category
        <small th:inline="text">[[${category.name}]] ([[${category.game.title}]])</small>
    </h2>
    <form th:action="@{''}" th:method="post" th:object="${model}">
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('name')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" placeholder="Name" autofocus="" th:field="*{name}"/>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('name')[0]}">Error message</div>
        </div>
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('rules')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="rules">Rules</label>
            <textarea id="rules" rows="6" class="form-control" placeholder="Rules" th:field="*{rules}"></textarea>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('rules')[0]}">Error message</div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary">Edit</button>
            <button class="btn btn-danger" th:formaction="@{|/category/${category.id}/delete|}">Delete</button>
        </div>
    </form>
</div>

</body>
</html>


