<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_template">
<body>

<div layout:fragment="content">
    <h2>
        Edit Entry
        <small th:inline="text">[[${category.name}]] ([[${category.game.title}]])</small>
    </h2>
    <form th:action="@{''}" th:method="post" th:object="${model}">
        <div class="form-group">
            <label for="runTimeH">Run time (HH:MM:SS.cc)</label>
            <div class="form-inline">
                <input id="runTimeH" type="number" class="form-control" min="0" max="99" placeholder="HH"
                       autofocus="" th:field="*{runTimeH}"/>
                <span class="form-control-static">:</span>
                <input id="runTimeM" type="number" class="form-control" min="0" max="59" placeholder="MM"
                       th:field="*{runTimeM}"/>
                <span class="form-control-static">:</span>
                <input id="runTimeS" type="number" class="form-control" min="0" max="59" placeholder="SS"
                       th:field="*{runTimeS}"/>
                <span class="form-control-static">.</span>
                <input id="runTimeC" type="number" class="form-control" min="0" max="99" placeholder="cc"
                       th:field="*{runTimeC}"/>
            </div>
        </div>
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('videoUrl')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="videoUrl">Video URL</label>
            <input id="videoUrl" type="url" class="form-control"
                   placeholder="https://www.youtube.com/watch?v=ABCDEFGHJKL"
                   th:field="*{videoUrl}"/>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('videoUrl')[0]}">Error message</div>
        </div>
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('comment')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="comment">Comment</label>
            <textarea id="comment" rows="6" class="form-control" placeholder="Comment"
                      th:field="*{comment}"></textarea>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('comment')[0]}">Error message</div>
        </div>
        <button class="btn btn-primary">Edit</button>
    </form>
</div>

</body>
</html>
