<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_template">
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-7">
            <h2 th:inline="text">
                [[${entry.category.game.title}]]
                <small th:text="${entry.category.name}">category</small>
            </h2>
        </div>
        <div class="col-sm-5">
            <form th:action="@{|/entry/${entry.id}/delete|}" th:method="post" sec:authorize="hasRole('ROLE_ADMIN')">
                <button class="btn btn-danger pull-right">Delete Entry</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img src="https://placehold.it/360x550" class="img-responsive center-block"
                 th:src="@{|/game/${entry.category.game.id}/image|}"/>
        </div>
        <div class="col-md-8" th:include=" :: entryData"></div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" th:remove="all">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" th:fragment="entryDialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">
                    <th:block th:text="${entry.category.game.title}">Game</th:block>
                    <small th:text="${entry.category.name}">category</small>
                </h3>
            </div>
            <div class="modal-body" th:include=" :: entryData"></div>
            <div class="modal-footer">
                <a class="btn btn-link pull-left" th:href="@{|/entry/${entry.id}|}">Permalink</a>
                <button class="btn btn-danger" form="deleteForm"
                        sec:authorize="hasRole('ROLE_ADMIN')">Delete Entry
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <form id="deleteForm" th:action="@{|/entry/${entry.id}/delete|}" th:method="post"
                  sec:authorize="hasRole('ROLE_ADMIN')"></form>
        </div>
    </div>
</div>

<th:block th:fragment="entryData">
    <strong th:inline="text">#[[${entryRank}]] run by [[${entry.username}]]
        with [[${@runTimeConverter.convert(entry.runTime)}]]</strong>
    <div class="embed-responsive embed-responsive-16by9" th:unless="${#strings.isEmpty(entry.videoUrl)}">
        <iframe class="embed-responsive-item" th:src="${@videoEmbedUtil.getEmbedUrl(entry.videoUrl)}"></iframe>
    </div>
    <details class="well well-sm css-entry-comment-well" open="open" th:unless="${#strings.isEmpty(entry.comment)}">
        <summary><strong>Comment</strong></summary>
        <p class="css-pre" th:text="${entry.comment}">this is the comment</p>
    </details>
    <div class="" th:if="${#strings.isEmpty(entry.videoUrl) and #strings.isEmpty(entry.comment)}">
        This entry has no details.
    </div>
</th:block>

</body>
</html>
