<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="_template">
<body>

<div layout:fragment="content">
    <h2>
        Edit game
        <small th:text="${game.title}">Game title</small>
    </h2>
    <form th:action="@{''}" th:method="post" th:object="${model}">
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('title')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control" placeholder="Title" autofocus=""
                   th:field="*{title}" th:errorClass="'has-error'"/>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('title')[0]}">Error message</div>
        </div>
        <div class="form-group" th:with="hasErrors=${#fields.hasErrors('image')}"
             th:classappend="${hasErrors}?'has-error'">
            <label for="image">Image</label>
            <input id="image" type="file" class="form-control"
                   th:field="*{image}"/>
            <div class="help-block" th:if="${hasErrors}" th:text="${#fields.errors('image')[0]}">Error message</div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" formenctype="multipart/form-data">Edit</button>
            <button class="btn btn-danger" th:formaction="@{|/game/${game.id}/delete|}">Delete</button>
        </div>
    </form>
</div>

</body>
</html>


